{
  "schema" : "{\"$schema\":\"https://json-schema.org/draft/2019-09/schema\",\"type\":\"object\",\"properties\":{\"approved\":{\"type\":\"boolean\",\"output\":true},\"candidate\":{\"$ref\":\"#/$defs/CandidateData\",\"input\":true},\"offer\":{\"$ref\":\"#/$defs/Offer\",\"input\":true}},\"$defs\":{\"CandidateData\":{\"type\":\"object\",\"properties\":{\"email\":{\"type\":\"string\"},\"name\":{\"type\":\"string\"},\"skills\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}}}},\"Offer\":{\"type\":\"object\",\"properties\":{\"salary\":{\"type\":\"integer\"}}}}}",
  "resources" : {
    "scripts" : { },
    "styles" : { }
  }
}